body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
  }
  .footer {
    margin-top: auto;
    background-color: #1b0088 !important;
    color: #ffffff !important;
  }

  
.accordion-button{
    font-weight: bold;
}
.menu{
  background-color: #1b0088 !important;
  
}
